.heroContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.backgroundImage {
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
}

.textContainer h1 {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
}

.textContainer p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 800px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  padding: 15px 20px;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  max-width: 200px;
  font-weight: 700;
  text-shadow: 0 0 3px black;
  width: 150px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
